<div ng-controller="AddEdit">
	<div class="formContainer clearBoth">
		<div class="leftHalf">
			<div class="left">Id:</div>
			<div class="right"><input type="text" name="id"></div>
		</div>
		<div class="rightHalf">
			<div class="left">Name:</div>
			<div class="right"><input type="text" name="id"></div>
		</div>
	</div>

	<div class="formContainer clearBoth">
		<div class="leftHalf">
			<div class="left">Address:</div>
			<div class="right"><input type="text" name="id"></div>
		</div>
		<div class="rightHalf">
			<div class="left">City:</div>
			<div class="right"><input type="text" name="id"></div>
		</div>
	</div>
</div>